{% extends 'base.html' %}

{% block content %}
    <div class="card m-5 ">
        <div class="card-header text-center">The Room id : {{room.id}} details .</div>
        <div class="card-body text-center">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Floor</th>
                        <th>Room Number</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>{{room.id}}</td>
                            <td>{{room.name_room}}</td>
                            <td>{{room.floor}}</td>
                            <td>{{room.number_of_room}}</td>
                        </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer text-center">
             <button  class="mx-5 btn btn-outline-secondary   fa fa-arrow-left"> <a class="text-dark" href="{% url 'all_room' %}">On Back </a></button>
        </div>
    </div>

{% endblock %}