{% extends 'base.html' %}

{% block content %}
    <div class="card m-5 text-center">
        <div class="card-header ">All {{number_product}} Product Available :</div>
        <div class="card-body ">

            <!------Display-products---------->
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{product.id}}</td>
                            <td>
                                <a class="text-dark" href="{% url 'one_product' product.id %}">{{product.name_product}}</a>
                            </td>
                            <td> $ {{product.price}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-----end-Display-products---------->
        </div>
        <div class="card-footer text-center ">

            <!-------------Pagination------------>
            {% if products.has_other_pages%}
            <table>
                <tr class="pagination">
                    <!------laquo---------->
                    {% if products.has_previous %}
                        <td>
                            <a href="?page={{products.previous_page_number}}">
                                &laquo;
                            </a>
                        </td>
                    {% else %}
                        <td class="disable">
                            <span>&laquo;</span>
                        </td>
                    {% endif %}
                    <!-----------end-laquo--------->

                    <!----show-current-pages------->
                    {% for i in products.paginator.page_range  %}
                        {% if products.number == i %}
                            <td class="active">
                                <span>
                                    {{i}}
                                    <span class="sr-only">
                                        (current)
                                    </span>
                                </span>
                            </td>
                        {% else %}
                            <td>
                                <a href="?page={{i}}">
                                    {{i}}
                                </a>
                            </td>
                        {% endif %}
                    {% endfor%}
                    <!-----end-pages--->

                    <!------raquo---------->
                    {% if products.has_next %}
                        <td>
                            <a href="?page={{products.next_page_number}}">&raquo;</a>
                        </td>
                    {% else %}
                        <td class="disable">
                            <span>&raquo;</span>
                        </td>
                    {% endif %}
                    <!-----end-raquo------->
                </tr>
            </table>
            {% endif%}
            <!------------end-Pagination--------->

         </div>
    </div>
{% endblock %}